*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(../image/background.jpg);
    background-size: cover;
    background-position: center;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 100px;
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #EEF0E5;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 1px;
    width: 0;
    background: #EEF0E5;
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: 0.25s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #EEF0E5;
}

.content h1 {
    font-size: 70px;
    margin-bottom: 80px;
}

.content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #EEF0E5;
    background: transparent;
    color: #EEF0E5;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span{
    background: #EEF0E5;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.25s;
}

button:hover span{
    width: 100%;
}

button:hover{
    border: none;
    color: #163020;
}